/* h1{
    color: rgb(74, 159, 162);
}

body{
    background-color: beige;
}

p{
    color: rgb(74, 159, 162);
}

table{
    background-color: aquamarine;
    font-family: 'times new roman', Courier, monospace;
}

tr{
    th{
        background-color: rgb(150, 222, 198);
    }
    td{
        background-color: rgb(88, 176, 147);
    }
    background-color: rgb(88, 176, 147);
} */
 